@import url("https://fonts.googleapis.com/css2? family=Nunito&family=Nunito&display=swap");

 *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    font-family: "Nunito" sans-serif;
    min-height: 100vh;
    background-color:black;
    justify-content: center;
}

.nav-container{
    background-color: black;

    display: flex;
    justify-content: space-between;
}

.right-side, .left-side{
    list-style-type: none;
}

.right-side li, .left-side li{
    display:inline-block;
}

.right-side li a, .left-side li a{
    text-decoration: none;
    display:block;
    width:100%;
    height: 100%;
    font-size:14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding: 14px 16px;
    font-weight:lighter;
}

.right-side  li a, .left-side  li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}


 .container{
    background-color: grey;
    width: 80%;
    height: 400px;
    margin-left: 4%;
    margin-right: 120%;
    
} 

main{
    align-items: center;
    justify-content: center;
}

.wrapper1 h2{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    background-color: black;
    width: 40rem;
    margin-left: 26%;
    justify-content: center;
    margin-top: 4rem;
    font-size: 40px;
 }

.imghi{
   margin: 4rem; 
}
.imghi:hover{
    transform:translateX(5%);
    transition: all 0.4s ease-in-out ;
}
.imgbx{
   float: right;
   margin-right: 15rem;
}

.img:hover{

}

.imgbox{
    margin-left: 4rem;
    margin-top: 1rem;
}

h3{
    color: white;
}

.wrapper2 h2{
    color: white;
    background-color:black;
    height: 12rem;
    width: 40rem;
    font-size: 40px;
    text-align: center;
    margin-left: 25rem;
    margin-top: 10rem;
}


.wrapper3{
    background-color: black;
    display: inline-block;
    width: 25rem;
    margin-left:20% ;
    margin-bottom: 6rem;
}

.wrapper h1{
    margin:4%;
    background-color:black;
    width: g;
}
.wrapper p{
    margin:4%;
    background-color:black;
    overflow: hidden;
    width: 40%;
}

p{
    margin: 3%;
    font-size: 18px;
    word-wrap: break-word ;
    overflow: hidden;
    color: aliceblue;
}   

h1{
    margin: 3%;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}


h4{
    color: white;
    font-size: 40px;
    margin-left:30rem;
}

.wrapper1 h4{
    background-color: aqua;
    width: 25%;
    height: 16%;
    margin: 30%;
}

.wrapper4 h4{
    background-color: aqua;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    background-color: black;
    width: 40rem;
    margin-left: 26%;
    justify-content: center;
    margin-top: 4rem;
    font-size: 40px;
}

.imgsvg{
    margin-left: 16.5rem;
    margin-top: 3rem;
}

.imgsvg1{
    margin-left: 1rem;
    margin-top:6rem ;
    margin-right: 15rem;
    gap: 2rem;
    float: right;
}

.container1{
    background-color: aqua;
    background-color: black;
    width: 80%;
    height: 600px;
    margin-left: 4%;
    margin-right: 120%;
    margin-top: 4rem;
    display: block;
}

h6 {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 4rem;
    margin-top: 2rem;
}



button{
    widows: 80px;
    height: 40px;
    background: white;
    border-radius: 12rem;
    margin-left: 4.5rem;
    margin-bottom: 10rem;
}

input[type="submit"]{
     width: 36%;
     height: 40px;
     background-color: white;
     border-radius: 12rem;
     margin:1rem;
     margin-right: 2rem;
}
input[type="submit"]:hover{
    transition: all 0.3s;
    background-color: grey;
    transform: rotatey(30deg); 
}

footer{
    color: black;
    background-color: black;
   /*  text-align: center; */
    position: sticky;
    bottom: 0;
    padding: 2rem;
    position: relative;
    flex-direction: column;
}














